html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@include for-normal-layout {
    html {
        font-size: 14px;
    }
}

@include for-wide-layout {
    html {
        font-size: 16px;
    }
}