.board-details {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    opacity: 1;
    width: 100%;
    // left: 4px;
    visibility: visible;
}