.toy-dashboard {
    padding: rem(30px);

    & .btn-back {
        position: fixed;
        top: 10vh;
        left: rem(20px);
    }

    >.chart:not(:last-child) {
        margin-bottom: rem(30px);
    }
}