.home-page {
    min-height: 100vh;
    font-family: sofia;
    font-size: 16px;
    height: 120vh;
    font-family: sofia;
    font-size: 16px;
    background-position: center;
    object-fit: contain;
    background-image: linear-gradient(to top, #070742, #0f0f47, #141444, #0a0a36, #0c0c44);
    // background-image: linear-gradient(to top, #14145e, #13135a, #121256, #111152, #10104e);
    // background-image: url('../../../assets/imgs/home-bg.jpg');

    @include for-mobile-layout {
        background-image: linear-gradient(to top, #14145e, #13135a, #121256, #111152, #10104e);

    }

    .home-header {
        align-items: center;
        background-color: #ffffff;
        height: rem(50px);
        padding-inline: rem(10px);

        @include for-narrow-layout {
            padding-inline: rem(15px);
            height: rem(80px);
        }

        .logo {
            padding-top: rem(9px);
            width: rem(130px);

            @include for-narrow-layout {
                width: rem(140px);
            }

            @include for-normal-layout {
                width: rem(170px);
            }

            @include for-wide-layout {
                width: rem(245px);
                padding-inline: rem(32px);
            }
        }

        .header-nav {
            display: flex;
            align-items: center;

            .side-header-links {
                font-family: sofia-thin;
                color: #535768;

                >* {
                    transition: background-color .2s;
                    padding: rem(8px) rem(10px);
                    border-radius: rem(8px);
                }

                :hover {
                    color: #5034FF;
                    background-color: #F0F3FF;
                }
            }

            .get-started-btn {
                cursor: pointer;
                font-size: rem(16px);
                min-width: rem(160px);
                border-radius: rem(40px);
                color: #fff;
                background-color: #6C6CFF;
                transition: background-color .2s;
                border: 1px solid #fff;

                @include for-narrow-layout {
                    margin-left: rem(5px);
                }

                @include for-mobile-layout {
                    display: none;
                }

                @include for-wide-layout {
                    margin-left: rem(26px);
                }

                & p span {
                    margin-left: rem(5px);
                    transition: margin-left .2s;
                    vertical-align: text-bottom;
                }

                &:hover {
                    background-color: #454592;

                    p span {
                        margin-left: rem(8px);
                    }
                }
            }
        }
    }

    .main-content {
        z-index: 10;
        margin-top: rem(90px);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #B4B4FF;

        .main-text {
            font-weight: 400;
            color: #fff;
            max-width: rem(506px);
            font-size: rem(30px);


            @include for-narrow-layout {
                max-width: rem(676px);
                font-size: rem(50px);
            }

            @include for-normal-layout {
                max-width: rem(700px);
                font-size: rem(60px);
            }

            @include for-wide-layout {
                max-width: rem(800px);
                font-size: rem(80px);
                line-height: rem(85px);
            }
        }

        .sub-text {
            font-size: rem(24px);
            line-height: rem(40px);
            font-weight: 300;
            color: #fff;

            @include for-mobile-layout {
                font-size: rem(20px);
                font-family: sofia-thin;
            }

            @include for-narrow-layout {
                padding-inline: rem(50px);
            }
        }

        .get-started-btn-home {
            cursor: pointer;
            font-size: rem(18px);
            overflow: hidden;
            height: rem(60px);
            min-width: rem(200px);
            border-radius: rem(40px);
            margin-bottom: rem(8px);
            color: #fff;
            box-shadow: 0 3px 6px 1px rgb(0 0 0 / 15%);
            background-image: linear-gradient(90deg, #5034FF 25.69%, #B4B4FF 100%);
            transition: background-image .2s;
            border: none;

            &.btn-desktop {
                display: none;
            }

            @include for-narrow-layout {
                margin-top: rem(36px);

                &.btn-desktop {
                    display: unset;
                }

                &.btn-mobile {
                    display: none;
                }
            }

            & p span {
                margin-left: rem(5px);
            }

            &:hover {
                background-image: linear-gradient(90deg, #432cd5 25.69%, #9797d5 100%);

                p {
                    margin-left: rem(2px);
                    transition: margin-left .2s;

                    .get-started-arrow {
                        margin-left: rem(8px);
                    }
                }
            }

        }

        .credit-text {
            color: #fff;
            font-family: sofia-thin;
            font-size: rem(14px);
            margin-top: rem(4px);
        }


    }
}

.home-layout {
    width: 90%;

    @include for-narrow-layout {
        width: 85%;
    }

    @include for-normal-layout {
        width: 80%;
    }

    @include for-wide-layout {
        width: 70%;
    }
}

.star-canvas {
    position: absolute;
    top: rem(80px);
    height: 100%;
    width: 100%;

    .universe-star {
        // --twinkle-duration: "";
        // --twinkle-delay: "";
        // --star-size: "";
        position: absolute;
        background-image: url(https://dapulse-res.cloudinary.com/image/upload/Generator_featured%20images/Home%20Page%20-%202022%20Rebrand/parallax/integrations/star.svg);
        background-repeat: no-repeat;
        background-size: cover;

        width: var(--star-size);
        height: var(--star-size);
        width: 20px;
        height: 20px;

        border-radius: 50%;
        // -webkit-animation: twinkle-jsx-3954818524 infinite alternate;
        // animation: twinkle-jsx-3954818524 infinite alternate;
        //         duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
        animation: 2s ease 3s infinite alternate none running twinkle-jsx;
        // animation-duration: var(--twinkle-duration);
        // animation-timing-function: ease;
        // animation-delay: var(--twinkle-delay);
        // animation-iteration-count: infinite;
        // animation-direction: alternate;
        // animation-fill-mode: none;
        // animation-play-state: running;
        // animation-name: twinkle-jsx-3954818524;

        -webkit-animation-duration: var(--twinkle-duration);
        animation-duration: var(--twinkle-duration);
        -webkit-animation-duration: 2s;
        animation-duration: 2s;

        -webkit-animation-delay: var(--twinkle-delay);
        animation-delay: var(--twinkle-delay);
        -webkit-animation-delay: 6s;
        animation-delay: 6s;

        will-change: transform;
    }
}