.task-edit {
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 17px 6px #0000001a;
    width: rem(500px);
    height: 100vh;
    padding: rem(32px);
    z-index: 100;
    top: 0;
    right: 0;
    transform: translate(0);

    .close-modal {
        height: rem(20px);
        width: rem(10px);
        border-radius: 5px;
        border: 1px solid rgb(216, 211, 211);
        cursor: pointer;
        position: absolute;
        right: rem(16px);
        top: rem(16px);
        padding: rem(4px) rem(8px);
        transition: background-color .2s;
    }
}