.task-edit {
    @include modal;
    top: 0;
    right: 0;
    transition: transform .6s, box-shadow .6s;
    transform: translate(0);
    z-index: 20;

    .close-modal {
        @include btn-close-modal;
        left: rem(16px);
        top: rem(16px);
    }

    & .task-edit-tool-bar {
        @include tool-bar;

        & .view-nav-btn {
            font-size: 15px;
            height: rem(34px);
            gap: 7px;
            text-align: center;
        }
    }
}

.task-edit-container .main-screen {
    @include main-screen($bgColor: rgb(0 0 0 / 60%));
}

.task-edit-container.open .main-screen {
    @include main-screen-open;

}