.task-edit {
    @include modal;
    position: relative;
    top: 0;
    right: 0;
    width: 100vw;
    padding: rem(16px);
    transition: transform .6s, box-shadow .6s;
    transform: translate(0);
    z-index: 300;

    @include for-narrow-layout {
        position: fixed;
        width: rem(700px);
        padding: rem(32px);
    }

    .task-exit-btn {
        height: rem(18px);
        width: rem(18px);
        border-radius: 4px;

        &:hover {
            background-color: var(--primary-background-hover-color);
        }
    }

    .clean-input {
        font-size: 30px;
        padding-top: rem(8px);
        padding-bottom: rem(8px);
    }

    .close-modal {
        @include btn-close-modal;
        left: rem(16px);
        top: rem(16px);
    }

    .navigate-btns {
        gap: 20px;

        & .task-edit-tool-bar {
            cursor: pointer;
            gap: 20px;
            text-align: center;

            .comments-btn {
                padding-top: rem(5px);
                border-radius: 2px;
                height: rem(32px);
                width: rem(100px);

                &.is-selected {
                    border-bottom: 2px solid #0073ea;
                }

                &:hover {
                    background-color: var(--primary-background-hover-color);
                }
            }

            .activity-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: rem(3px);
                border-radius: 2px;
                height: rem(32px);
                width: rem(100px);

                &.is-selected {
                    border-bottom: 2px solid #0073ea;
                }

                &:hover {
                    background-color: var(--primary-background-hover-color);
                }
            }
        }
    }

}

.task-edit-container .main-screen {
    @include main-screen($bgColor: rgb(0 0 0 / 60%));
}

.task-edit-container.open .main-screen {
    @include main-screen-open;
}

@include for-mobile-layout {
    .task-edit {

        .clean-input {
            font-size: 21px;
        }

        .task-edit-tool-bar {
            font-size: rem(14px);

        }

        .item-comments-container {
            .tox-tinymce.tox-platform-touch {
                margin-top: rem(15px);
                width: rem(320px);
            }

            .user-comment-card {
                width: 100%
            }
        }
    }

    .task-edit-container .main-screen {
        display: none;
    }

}