.board-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    width: 100%;
    opacity: 1;
    visibility: visible;
    // border: 1px solid black;
    // padding-right: 16px;
    // border-color: transparent;

}