.are-you-sure-modal-container {

    &.open .main-screen {
        @include main-screen-open;

    }

    & .main-screen {
        @include main-screen($bgColor: rgb(0 0 0 / 60%));
    }

    & .delete-modal {
        @include modal($height: rem(168px), $width: rem(310px));
        border-radius: 8px;
        top: 45%;
        left: 47%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease 0s;
        z-index: 100;
        padding: rem(12px) rem(36px);
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);

    }

    .cancel-modal-btn {
        @include btn($bgColor: white);
        margin-right: 8px;
        font-size: rem(18px);
        padding: 8px 16px;
        height: 40px;
        padding: rem(8px) rem(16px);
        float: right;

        &:hover {
            background-color: rgb(212, 212, 216);
        }
    }

    .delete-modal-btn {
        @include btn($bgColor: #0073ea, $color: white);
        font-size: rem(18px);
        padding: rem(8px) rem(16px);
        float: right;
        padding: 8px 16px;
        height: 40px;

        &:hover {
            background-color: #065db9;
        }
    }

    .modal-btns {
        border-top: .5px solid grey;
        padding-top: 1.25rem;
        padding-bottom: 3.25rem;
        height: rem(40px);
    }

    .delete-item {
        padding-top: rem(15px);
        font-size: rem(18px);
    }
}