.board-content {
    padding-inline-start: 26px;
    padding-bottom: 40px;
    padding-top: 18px;
    height: 100%;
    width: 100%;
    outline: none;
    position: relative;
    .group-list {
        padding-top: 18px;
    }
}