.board-header-container button {
    @include btn;
}

.board-header-container {
    // position: fixed;
    top: 0;
    left: 0;
    border: solid;
    background-color: var(--primary-background-color);
    z-index: 2;
}

.board-header-content {
    // padding: 30px 30px 0px 30px;
    padding: 16px 30px 0px 38px;

    border: .5px solid;
    // height: 220px;
    // align-items: center;
    // position: absolute;
    // width: 73%;
}

.board-header-title {
    display: flex;
    align-items: center;
    flex: 1 0;
    gap: 10px;
    width: 100%;
    margin-right: 8px;
    margin-left: -5px;
}

.board-header-left {
    display: inline-flex;
    align-items: center;
    flex: 1 0;
    min-width: 100px;
    max-width: 100%;
    margin-right: 8px;
    margin-left: -5px;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
}

.board-header-right {
    display: flex;
    gap: 40px
}

.btn-board-description {
    @include icon-cmp;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    height: 28px;
}

.btn-board-starred {
    @include icon-cmp;
    // font-size: 24px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    height: 28px;
}

.btn-board-activity {
    @include icon-cmp;
}

.btn-last-seen {
    @include icon-cmp;
    @include btn;
    @include heading;
    padding: 4px 8px;

}

.btn-invite-subscribers {
    @include icon-cmp;
    @include btn;
    @include heading;

}

.input-title {
    @include input-title;
    @include heading;

    line-height: 40px;
    font-size: 32px;
    border: none;
}

.input-title :hover {
    cursor: text;
    border: 1px solid;
}

.input-title :focus-visible {
    cursor: text;
    border: none;
}


.board-header-tool-bar {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: var(--spacing-small);
    padding-bottom: 4px;
    height: 32px;
    border-bottom: .5px solid gray;
    
    & span{
        padding: 8px 24px 5px 12px;
        font-weight: 500;
        padding: 0 4px;
        font-size: 14px;
        max-width: 150px;
        min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    & a {
        padding: 8px 24px 5px 12px;
        &.active {
            border-bottom: 2px solid var(--primary-color);

        }
    }

    // width: 100%;
}

.board-header-tool-bar a {
    min-width: var(--element-width);
    max-width: 180px;
}