.board-content {
    // padding-inline-start: 26px;
    padding-bottom: 40px;
    padding-top: 18px;
    height: 100%;
    width: 100%;
    outline: none;
    position: relative;
    @include for-narrow-layout{
        padding-inline-start: 26px;

    }

    @include for-mobile-layout{
        

    }
    .group-list {
        z-index: 50;
    }
}