.item-updates-container {
    .user-update-card {
        margin-top: rem(15px);

        .user-text-area {
            margin-bottom: rem(10px);
            padding: rem(7px) rem(15px);
            min-height: rem(50px);
        }

        position: relative;
        overflow: visible;
        border-radius: 4px;
        border: 1px solid rgb(206, 204, 204);

        .user-details {
            padding: rem(15px);

            .user-img-name {
                position: relative;
                flex: 1;


                img {
                    width: rem(40px);
                    height: rem(40px);
                    border-radius: 50%;
                }

                .username-name {
                    font-size: rem(26px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: rem(18px);
                    margin-left: rem(8px);
                }
            }

            .time {
                position: absolute;
                right: 0;
                gap: rem(7px);
                justify-content: center;

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    cursor: pointer;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 130px;
                    transform: translateX(-94px);
                    font-size: rem(14px);
                    background-color: white;
                    box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
                    border-radius: 10px;
                    padding: 10px;
                    &:hover {
                        background-color: var(--primary-background-hover-color);
                    }
                }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #ddd;
                }

                /* Show the dropdown menu on hover */
                .dropdown:hover .dropdown-content {
                    display: block;
                }

                .delete-commet-modal {
                    display: none;
                    position: absolute;
                    width: 150px;
                    height: 50px;
                    background-color: aquamarine;
                    transform: translateY(90px);
                }


            }

            .delete-update-btn {
                cursor: pointer;
                padding-top: rem(2px);
                padding-left: rem(4px);

                &:hover .delete-commet-modal {
                    color: gray;
                    display: block;
                }
            }
        }

        .action-btns {
            cursor: pointer;
            height: rem(42px);
            border-top: 1px solid;
            border-top-color: rgb(206, 204, 204);
            justify-content: space-around;
            align-items: center;

            .action-icon {
                font-size: rem(20px);
                padding-right: 3px;
            }

            .like-post-area {
                height: 100%;
                width: 100%;
                display: flex;
                border-right: 1px solid rgb(206, 204, 204);

                align-items: center;
                justify-content: center;

                .like-post {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    font-size: rem(14px);
                    width: calc(100% - 8px);
                    height: calc(100% - 8px);

                    &:hover {
                        background-color: var(--primary-background-hover-color);
                    }
                }

            }

            .reply-post-area {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .reply-post {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc(100% - 8px);
                    height: calc(100% - 8px);
                    border-radius: 4px;
                    font-size: rem(14px);

                    &:hover {
                        background-color: var(--primary-background-hover-color);
                    }
                }
            }
        }
    }

    .side-panel-actions {
        margin: rem(20px) 0;

        .left-side-actions {
            font-size: rem(14px);

            >* {
                margin-right: 16px;
            }
        }

        .update-btn {
            cursor: pointer;
            padding: rem(4px) rem(8px);
            height: rem(32px);
            line-height: rem(24px);
            border-radius: rem(4px);
            background-color: var(--primary-color);
            color: #fff;
            border: none;
        }
    }

    .update-input {
        width: 100%;
        margin: 0;
        border: 1px solid rgb(206, 204, 204);
        background: transparent;
        border-radius: rem(8px);
        padding: rem(10px) rem(20px);
        cursor: lightblue;
        transition: color 0.15s ease-in-out;
        justify-content: start;
        text-align: left;
        outline: none;
        margin-top: rem(20px);
        margin-bottom: rem(40px);

        .update-btn {
            cursor: pointer;
            @include btn($bgColor: var(--primary-background-color));
        }
    }

}

@include for-mobile-layout {
    .task-edit {
        .item-updates-container {

            .update-input {
                width: 400px;

            }

            .user-update-card {
                width: 400px;
            }

            .user-detalis {

                width: 400px;
            }
        }

    }
}