.group-footer {
    height: 40px;
    width: 100%;
    // margin-top: 10px;

    .invisible1 {
        width: 100%;
        min-width: rem(568px);
        // margin-right: rem(3px);
    }
    
    .invisible3 {
        height: rem(35px);
        min-width: rem(200px);
        border-bottom: 0.5px solid var(--ui-border-color);
        border-right: 0.5px solid var(--ui-border-color);
        
    }
    .invisible4 {
        height: rem(35px);
        min-width: rem(200px); 
        border-right: 0.5px solid var(--ui-border-color);
        border-bottom: 0.5px solid var(--ui-border-color);
    }
    .invisible5 {
        height: rem(35px);
        width: rem(700px); 
        border-bottom: 0.5px solid var(--ui-border-color);
    }

    .group-status-sum {
        // border: 0.5px solid var(--ui-border-color);
        border-bottom: 0.5px solid var(--ui-border-color);
        border-left: 0.5px solid var(--ui-border-color);
        border-radius: 0 0 0 6px;
        // padding-right: rem(5px);
        // padding-left: rem(5px);
        padding: 10px;
        min-width: rem(150px);
        height: rem(35px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6f7fb;
        transition: padding .2s;
        &:hover {
            padding: 5px;
        }
    }
    
    .group-priority {
        border-right: 0.5px solid var(--ui-border-color);
        border-bottom: 0.5px solid var(--ui-border-color);
        border-left: 0.5px solid var(--ui-border-color);
        // border: 0.5px solid var(--ui-border-color);
        padding: 10px;
        min-width: rem(150px);
        height: rem(35px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6f7fb;
        transition: padding .2s;
        &:hover {
            padding: 5px;
        }
    }

}