.group-preview {
    margin-bottom: 30px;

    .dots {
        cursor: pointer;
        opacity: 0;
        display: block;
        height: 25px;
        font-size: 18px;
        transition: background-color .2s;
        border-radius:6px;
        &:hover {
            background-color: #dcdfec;
        }
    }
    .group-header-name:hover .dots{
            opacity: 1;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        font-weight: 400;
        font-size: rem(17px);
        background-color: white;
        min-width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
        z-index: 300;
        border-radius: 10px;
        padding: 10px;
        // transform: translateX(-30px);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        font-style: normal;
        color: #5b5c63;
        padding: 12px 16px;
        text-decoration: none;
        // display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #dcdfec;
        border-radius: 8px;
        cursor: pointer;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }

   
}