.group-preview {
    margin-bottom: rem(35px);
    font-family: roboto, rubik, sans-serif;
    

    & .group-header-name {
        & .dots {
            cursor: pointer;
            opacity: 0;
            display: block;
            height: rem(25px);
            font-size: rem(18px);
            transition: background-color .2s;
            border-radius: rem(6px);

            &:hover {
                background-color: #dcdfec;
            }
        }

        &:hover .dots {
            opacity: 1;
        }

        & .dropdown-content {
            display: none;
            position: absolute;
            font-weight: 400;
            font-size: rem(17px);
            background-color: white;
            min-width: rem(190px);
            box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
            z-index: 300;
            border-radius: rem(10px);
            padding: rem(10px);
            // transform: translateY(110px);

            & a {
                font-style: normal;
                color: #5b5c63;
                padding: 12px 16px;
                text-decoration: none;

                &:hover {
                    background-color: #dcdfec;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

        }
        .group-task-count {
            opacity: 0;
            font-size: rem(14px);
            line-height: rem(22px);
            color: var(--secondary-text-color);
            margin-left: var(--spacing-xs);
        }
        &:hover .group-task-count{
            opacity: 1;
        }
    }


    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }



}