// GROUP HEADER NAME " ^ Backend "
.group-header-name {
    cursor: grab;
    display: flex;
    align-items: center;
    position: sticky;
    top: 209px;
    height: 40px;
    font-size: 18px;
    margin-left: 4px;
    z-index: 1;
    background-color: white;

    .collapse-group-button {
        display: inline-block;
        margin-right: 2px;
        margin-left: 9px;
        position: relative;
        top: 4px;
        cursor: pointer;
    }

    .group-title {

        padding-inline-start: 10px;
        padding-top: 5px;
        .group-name-input {
            @include editable-heading;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }

    .group-task-count {
        opacity: 0;
        font-size: 14px;
        line-height: 22px;
        color: var(--secondary-text-color);
        margin-left: var(--spacing-xs);

        &:hover {
            opacity: 1;
        }
    }
}



//COLUMNS NAMES LINE 
.preview-group-header {
    position: sticky;
    top: 249px;
    z-index: 1;
    width: 100%;
    background-color: white;
    box-shadow: 4px 6px 15px -8px var(--ui-border-color);

    .dot {
        cursor: pointer;
        opacity: 0;
        display: block;
        height: 35px;
        font-size: 18px;
        transition: background-color .2s;
        border-radius: 6px 0 0 6px;

        &:hover {
            background-color: #dcdfec;
        }
    }


    .group-header-identifier {
        position: relative;
        left: 18px;

        .cell {
            @include cell;
        }

        .task-name-area {
            width: 400px;

            .task-group-color {
                width: 6px;
                height: 100%;
                border-top-left-radius: 10px
            }

            .preview-checkbox {
                @include checkbox;
            }

            .header-identifier-title {
                margin: auto;
            }

        }

        .persons-header {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: 150px;
            @include task-cell-with-content;
        }

        .label-type-status {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: 150px;
            @include task-cell-with-content;
        }

        .label-type-priority {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: 150px;
            @include task-cell-with-content;
        }

        .last-updated {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: 200px;
            @include task-cell-with-content;
        }

        .date-header {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: 200px;
            @include task-cell-with-content;
        }

        .add-column {
            width: 400px;
            padding-inline-start: 10px;
            font-size: 20px;
            border-inline-start: 0.5px solid #d0d4e4;
        }

        .sort-btn {
            padding: 3px;
            margin: auto;
            width: rem(20px);
            height: rem(20px);
            position: absolute;
            background-color: white;
            border: .5px solid rgb(230, 222, 222);
            border-radius: 10px;
            cursor: pointer;
            top: -10px;
            transition: background-color .2s, color .2s;
            transition: transform .2s;
            opacity: 0;

            &.name {
                left: rem(207px);
            }

            &:hover {
                background-color: var(--primary-color);
                color: white;
                transform: rotate(360deg)
            }
        }

        .group-task-name-area {
            &:hover .sort-btn {
                opacity: 1;
            }
        }
    }
}