.group-preview {
    margin-bottom: rem(20px);
    font-family: roboto, rubik, sans-serif;


    & .group-header-name {
        & .dots {
            cursor: pointer;
            opacity: 0;
            display: block;
            height: rem(25px);
            font-size: rem(18px);
            transition: background-color .2s;
            border-radius: rem(6px);

            &:hover {
                background-color: #dcdfec;
            }
        }

        &:hover .dots {
            opacity: 1;
        }

        & .dropdown-content {
            display: none;
            position: absolute;
            font-weight: 400;
            font-size: rem(15px);
            background-color: white;
            min-width: rem(190px);
            box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
            z-index: 300;
            border-radius: rem(10px);
            padding: rem(10px);

            & a {
                font-style: normal;
                color: #5b5c63;
                padding: rem(12px) rem(16px);
                text-decoration: none;
                margin-left: rem(-3px);

                &:hover {
                    background-color: #dcdfec;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }

        .group-task-count {
            opacity: 0;
            font-size: rem(14px);
            line-height: rem(22px);
            color: var(--secondary-text-color);
            margin-left: var(--spacing-xs);
        }

        &:hover .group-task-count {
            opacity: 1;
        }

        .group-color-container {
            display: flex;

            .color-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: rem(20px);
                margin-right: rem(-7px);
                margin-left: rem(18px);
                width: rem(10px);
                height: rem(10px);
                border-radius: 50%;
            }
        }

        .color-menu {
            position: absolute;
            transform: translate(-10px, -5px);
            width: rem(200px);
            height: fit-content;
            background-color: white;
            padding: rem(10px);
            border-radius: rem(8px);
            z-index: 10;
            display: flex;
            flex-wrap: wrap;
            gap: rem(10px);

            & i {
                width: rem(20px);
                height: rem(20px);
                border-radius: 50%;
                z-index: 10;
                cursor: pointer;
            }

            .color0 {
                background-color: red;
            }
            
            .color1 {
                background-color: #fb275d
            }
            
            .color2 {
                background-color: #207245;
            }
            
            .color3 {
                background-color: #2a5699;
            }
            
            .color4 {
                background-color: #e4901c;
            }
            
            .color5 {
                background-color: #595ad4;
            }
            
            .color6 {
                background-color: #ffcc00;
            }
            
            .color7 {
                background-color: #1c1f3b;
            }
            
            .color8 {
                background-color: #03c875;
            }
            
            .color9 {
                background-color: #1c1f3b;
            }
            
            .color10 {
                background-color:  #453232;
            }
            
            .color11 {
                background-color: #9786C7;
            }
            
            .color12 {
                background-color: #225EB7;
            }
            
            .color13 {
                background-color: #AD967A;
            }
            
            .color14 {
                background-color: #D974B0;
            }
            
            

        }
    }


    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }



}