// GROUP HEADER NAME " ^ Backend "
.group-header-name {
    cursor: grab;
    display: flex;
    align-items: center;
    position: sticky;
    top: rem(167px);
    height: rem(40px);
    font-size: rem(18px);
    margin-left: rem(4px);
    z-index: 20;
    background-color: white;


    .group-name {
        height: 40px;
        display: flex;
        align-items: center;

        .collapse-group-button {
            margin-right: rem(2px);
            margin-left: rem(9px);
            position: relative;
            top: 4px;
            cursor: pointer;
        }

        .group-title {

            padding-inline-start: rem(10px);
            padding-top: rem(5px);

            .group-name-input {
                @include editable-heading;
                font-weight: bold;
                letter-spacing: rem(1px);
            }
        }

        .group-task-count {
            opacity: 0;
            font-size: rem(14px);
            line-height: rem(22px);
            color: var(--secondary-text-color);
            margin-left: var(--spacing-xs);

            &:hover {
                opacity: 1;
            }
        }
    }
}



//COLUMNS NAMES LINE 
.preview-group-header {
    position: sticky;
    top: rem(207px);
    z-index: 20;
    width: 100%;
    background-color: white;
    .dot {
        cursor: pointer;
        opacity: 0;
        display: block;
        height: rem(35px);
        font-size: rem(18px);
        transition: background-color .2s;
        border-radius: 6px 0 0 6px;

        &:hover {
            background-color: #dcdfec;
        }
    }


    .group-header-identifier {
        position: relative;
        left: rem(18px);

        .cell {
            @include cell;
        }

        .task-name-area {
            width: rem(245px);
            background-color: var(--primary-background-color);

            @include for-narrow-layout {
                width: rem(400px);
            }

            .task-group-color {
                width: rem(6px);
                height: 105%;
                border-top-left-radius: 10px
            }

            .preview-checkbox {
                display: none;

                @include for-narrow-layout {
                    @include checkbox;
                }

                // @include checkbox;
            }

            .header-identifier-title {
                margin: auto;
            }

        }

        .persons-header {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: rem(150px);
            @include task-cell-with-content;
        }

        .label-type-status {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: rem(150px);
            @include task-cell-with-content;
        }

        .label-type-priority {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: rem(150px);
            @include task-cell-with-content;
        }

        .last-updated {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: rem(200px);
            @include task-cell-with-content;
        }

        .date-header {
            &:hover .sort-btn {
                opacity: 1;
            }

            width: rem(200px);
            @include task-cell-with-content;
        }

        .add-column {
            width: rem(400px);
            padding-inline-start: rem(10px);
            font-size: rem(20px);
            border-inline-start: 0.5px solid #d0d4e4;
        }

        .sort-btn {
            padding: rem(3px);
            margin: auto;
            width: rem(20px);
            height: rem(20px);
            position: absolute;
            background-color: white;
            border: .5px solid rgb(230, 222, 222);
            border-radius: 10px;
            cursor: pointer;
            top: -10px;
            transition: background-color .2s, color .2s;
            transition: transform .2s;
            opacity: 0;

            &.name {
                left: rem(207px);
            }

            &:hover {
                background-color: var(--primary-color);
                color: white;
                transform: rotate(360deg)
            }
        }

        .group-task-name-area {
            &:hover .sort-btn {
                opacity: 1;
            }
        }
    }
}