.kanban-new-task {
    font-size: rem(14px);
    color: #676879;
    width: rem(242px);
    height: rem(37px);
    background-color: #fff;
    border: 1px solid transparent;
    margin-top: rem(6px);
    margin-bottom: rem(8px);
    border-radius: rem(8px);
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: rem(10px);
    margin-bottom: rem(10px);
    cursor: pointer;
    div {
     padding-left: rem(8px);
    }
   }