.kanban-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(260px));
    grid-gap: rem(16px);
    padding-left: rem(30px);
    padding-top: rem(16px);
    .kanban-group-container{
        height: min-content;
        border-radius: rem(8px);
        background-color: rgb(235, 231, 231);
    }
   }