@include for-mobile-layout {
    .sidebar-container {
        display: none;
    }
}

@include for-narrow-layout {

    .sidebar-container {
        background-color: #292f4c;
        height: 100vh;
        width: rem(89px);

        .sidebar-icon {
            width: rem(23px);
            height: rem(23px);
            font-size: rem(20px);
            margin: rem(11px);
            color: white;
            border-radius: rem(8px);
            cursor: pointer;
            transition: background-color .2s;
        }

        .sidebar-icon:hover {
            background-color: #0c0d18;
        }

        .all-nav-bar {
            height: 91vh;
        }

        .btn-home {
            margin: auto;
        }

        .sidebar-logo {
            margin-top: rem(22px);
            height: rem(43px);
            width: rem(43px);
        }

        .plans-modal {
            margin-top: rem(10px);
            margin-bottom: rem(100px);
            height: rem(150px);
            width: rem(34px);
            color: white;
            border-radius: 0 16px 16px 0;
            background-color: #258750;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: width .1s;
            .stars {
                font-size: rem(20px);
            }
        }

        .plans-modal:hover {
            width: rem(43px);
            background-color: #007038;
        }

        span {
            transform: rotate(270deg);
            font-size: rem(13px);
            text-align: center;
            white-space: nowrap;
        }

        .nav-top-down {
            gap: rem(15px);
        }

        // .icons-bottom {
        //     margin: auto;
        //     width: 90%;
        //     border-bottom: 1px solid rgb(133, 129, 129);
        // }

        .navigations-icons {
            padding-top: rem(20px);
            margin-left: rem(8px);
            width: 70%;
            border-top: 1px solid rgb(133, 129, 129);
        }

        .user-icon {
            margin-bottom: rem(35px);
            width: rem(38px);
            height: rem(38px);
        }

        & .down-icons {
            position: absolute;
            bottom: rem(-15px);
            justify-content: center;
            align-items: center;
            left: rem(3px);
        }

        .menu {
            color: rgb(143, 143, 255);
        }
    }

}