.add-modal {
    @include modal($height: rem(280px), $width: rem(500px));
    border-radius: rem(8px);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
    padding: rem(16px) rem(48px);

    .close-modal-btn {
        @include btn-close-modal;
        right: rem(16px);
        top: rem(16px);

        &:hover {
            background-color: rgb(212, 212, 216);
        }
    }

    .focused-form {
        border: 1px solid gray;
    }

    .create-board {
        font-family: roboto-bold;
        font-size: rem(32px);
        font-weight: 500;
        margin-bottom: rem(16px);
    }

    .input-container {
        padding: rem(8px) 0px;
        outline: none;
        width: 100%;
        border-radius: 4px;

        input {
            font-size: rem(20px);
            box-shadow: 0px 1px 5px 0 rgba(60, 64, 67, 0.6), 0 1px 3px 1px rgba(60, 64, 67, 0.249);
            margin-right: rem(10px);
            border-radius: rem(10px);
            padding: rem(7px);
            transition: .3s;
            background-color: rgb(220 230 236 / 64%);
            width: 95%;

            &:focus {
                background-color: rgb(255, 255, 255);
            }
        }
    }

    .modal-btns {
        display: flex;
        font-family: roboto-bold;
        justify-content: flex-end;
        margin-top: rem(50px);

        .cancel-modal-btn {
            @include btn($bgColor: white);
            margin-right: 8px;
            font-size: rem(16px);
            padding: rem(8px) rem(16px);

            &:hover {
                background-color: rgb(212, 212, 216);
            }
        }

        .create-modal-btn {
            @include btn($bgColor: #0073ea, $color: white);
            font-size: rem(16px);
            padding: rem(8px) rem(16px);

            &:hover {
                background-color: #065db9;
            }
        }
    }
}

.new-board-modal-container.open .main-screen {
    @include main-screen-open;
}

.new-board-modal-container .main-screen {
    @include main-screen($bgColor: rgb(0 0 0 / 60%));
}