.add-modal {
    @include modal($height: rem(280px), $width: rem(310px));
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
    z-index: 30;
    padding: rem(16px) rem(48px);

    .close-modal-btn {
        @include btn-close-modal;
        right: rem(16px);
        top: rem(16px);

        &:hover {
            background-color: rgb(212, 212, 216);
        }
    }

    .focused-form {
        border: 1px solid gray;
    }

    .create-board {
        font-family: roboto-bold;
        font-size: rem(32px);
        font-weight: 500;
        margin-bottom: 16px;
    }

    .input-container {
        padding: 8px 0px;
        outline: none;
        width: 100%;
        border-radius: 4px;

        input {
            font-size: rem(20px);
            box-shadow: 0px 1px 5px 0 rgba(60, 64, 67, 0.6), 0 1px 3px 1px rgba(60, 64, 67, 0.249);
            margin-right: 10px;
            border-radius: 10px;
            padding: 7px;
            transition: .3s;
            background-color: rgb(220 230 236 / 64%);
            width: 95%;

            &:focus {
                background-color: rgb(255, 255, 255);
            }
        }
    }

    .modal-btns {
        display: flex;
        font-family: roboto-bold;
        justify-content: flex-end;
        margin-top: rem(50px);

        .cancel-modal-btn {
            @include btn($bgColor: white);
            margin-right: 8px;
            font-size: rem(16px);
            padding: rem(8px) rem(16px);

            &:hover {
                background-color: rgb(212, 212, 216);
            }
        }

        .create-modal-btn {
            @include btn($bgColor: #0073ea, $color: white);
            font-size: rem(16px);
            padding: rem(8px) rem(16px);

            &:hover {
                background-color: #065db9;
            }
        }
    }
}

.new-board-modal-container.open .main-screen {
    opacity: 1;
    pointer-events: auto;
}

.new-board-modal-container .main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    z-index: 20;
}