.add-modal {
    @include modal($height: rem(280px), $width: rem(500px));
    border-radius: rem(8px);
    top: 45%;
    left: 50%;
    z-index: 70;
    border: 1px solid black;
    box-shadow: 0 0 12px 1px grey;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
    padding: rem(16px) rem(48px);

    .close-modal-btn {
        @include btn-close-modal;
        width: 1.6rem;
        right: rem(16px);
        top: rem(16px);

        &:hover {
            background-color: rgb(212, 212, 216);
        }
    }

    .focused-form {
        border: 1px solid gray;
    }

    .create-board {
        font-family: roboto-bold;
        font-size: rem(32px);
        font-weight: 500;
        margin-bottom: rem(16px);
    }

    .input-container {
        padding: rem(8px) 0px;
        outline: none;
        width: 100%;
        border-radius: 4px;

        input {
            width: 100%;
            border-radius: 4px;
            border: 1px solid;
            background-color: var(--primary-background-color);
            border-color: var(--ui-border-color);
            font-size: rem(16px);
            padding: rem(8px) rem(16px);
            outline: 0;
            position: relative;
           
            &:focus {
                background-color: rgb(255, 255, 255);
            }
        }
    }

    .modal-btns {
        display: flex;
        font-family: roboto-bold;
        justify-content: flex-end;
        margin-top: rem(50px);

        .cancel-modal-btn {
            @include btn($bgColor: white);
            margin-right: 8px;
            font-size: rem(16px);
            padding: rem(8px) rem(16px);

            &:hover {
                background-color: rgb(212, 212, 216);
            }
        }

        .create-modal-btn {
            @include btn($bgColor: #0073ea, $color: white);
            font-size: rem(16px);
            padding: rem(8px) rem(16px);

            &:hover {
                background-color: #065db9;
            }
        }
    }
}

.new-board-modal-container.open .main-screen {
    @include main-screen-open;
    z-index: 45;
}

.new-board-modal-container .main-screen {
    @include main-screen($bgColor: rgb(0 0 0 / 60%));
}

@include for-mobile-layout {
    .add-modal {
        @include modal($height: rem(280px), $width: rem(300px));
        z-index: 50;
    }

}