.search-board-form {
    .input-container {
        margin-left: rem(22px);
    }
        input {
            width: rem(60px);
            font-size: rem(14px);
            border-radius: rem(4px);
            padding-top: rem(9px);
            padding-bottom: rem(7px);
            transition: .3s;
            background-color: transparent;
            border: none;
            &::placeholder {
                font-weight: 400;
            }
            &:focus {
                background-color: white;
                width: rem(140px);
                border: .5px solid #0073ea;   
                outline: none;
            }
        }
}