.search-board-form {
    margin-block: auto;
    padding-inline-start: 10px;

    &:has(:focus-visible) {
        border: .5px solid #0073ea;
        background-color: white;
        outline: none;
        border-radius: rem(4px);
        transition: .3s;

        @include for-mobile-layout {
            right: rem(30px);

            .board-search-input {
                &::placeholder {
                    width: rem(60px);
                }

              
            }
        }
    }

    .board-search-input {
        font-size: rem(14px);
        padding-top: rem(9px);
        padding-bottom: rem(7px);
        transition: .3s;
        background-color: transparent;
        border: none;

        @include for-narrow-layout {
            width: rem(60px);
        }

        &::placeholder {
            font-weight: 400;

            @include for-mobile-layout {
                width: 0;
            }
        }

        &:focus {
            width: rem(267px);
            outline: none;

            @include for-narrow-layout {
                width: rem(200px);
            }
        }
    }

    @include for-mobile-layout {
        position: fixed;
        top: rem(71px);
        right: rem(-140px);
    }
}

@include for-mobile-layout {
    .search-board-form{
        
        .search-icon {
            background-color: var(--primary-background-hover-color);
            border-radius: 4px;
            height: 30px;
            width: 30px;
            padding: 7px;
            
        }
        &:focus-within {
            .search-icon{
                background-color: #ffffff;

            }
        }
    }
}