.sub-sidebar-container {
    background-color: #f6f7fb;
    border-right: 1px solid #e3edff;
    min-width: 30px;
    transition: .1s ease;
    // z-index: 200;
    // color: var(--primary-text-color);
    // height: 100vh;

    .workspace-icon {
        width: 26px;
        height: 26px;
        border-radius: 8px;
        justify-content: center;
        margin-right: 5px;
        background-color: #d83a52;
        color: rgb(255, 255, 255);
    }

    &.is-open {
        min-width: 254px;

        .open-btn {
            position: absolute;
            left: rem(305px);
        }
    }

    .open-btn {
        left: rem(78px);
        position: absolute;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        border: 1px solid rgb(163, 163, 167);
        background-color: white;
        line-height: 1.5;
        cursor: pointer;
        top: 20px;
        z-index: 100;
        transition: background-color .2s;
    }

    .open-btn:hover {
        background-color: #529eee;
    }


    .workspace-options {

        color: #323338;

        .spacer {
            border-bottom: 1px solid;
            border-color: var(--layout-border-color);
            margin: 0 20px;
        }

        .action-btn,
        .boards-options {
            padding: 0 16px 16px 14px;
            justify-content: start;

            .option {
                padding-left: 6px;
                height: 32px;
                border-radius: 4px;
                width: 100%;

                .menu-btn-inner-text {
                    font-size: 14px;
                    margin: 0 8px;

                }

            }

        }

        .dropdown-dot .dropdown {
            position: absolute;
            display: none;
            padding-bottom: 6px;
            font-size: 13px;
            transition: color .2s;
            transform: translateY(-15px);
            z-index: 10;
            font-size: 27px;
        }

        .option {
            cursor: pointer;
            width: 90%;
            align-items: center;
            font-size: rem(16px);
            transition: background-color .2s;
            // padding-left: 6px;
            // padding-top: 4px;
            // padding-bottom: 4px;
            border-radius: 4px;
            // gap: 16px;


        }

        .option:hover,
        .active:hover {
            background-color: var(--primary-background-hover-color);
        }


        .boards-options {
            padding-top: 16px;

            .table-chart {
                font-size: 18px;
            }

            .boards-list {
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 14ch;
                }

                .dropdown-dot:hover {
                    color: #7f8083
                }
            }

            .option:hover .dropdown-dot .dropdown {
                display: block;

            }
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            font-weight: 400;
            font-size: rem(17px);
            background-color: white;
            min-width: 240px;
            box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
            z-index: 100;
            border-radius: 10px;
            padding: 10px;

            .icon-dropdown {
                font-size: 21px;
                transform: translateY(3px);
            }
        }

        hr {
            color: #e6e7ec83;
        }

        /* Links inside the dropdown */
        .dropdown-content i {
            font-style: normal;
            color: #5b5c63;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

        }

        /* Change color of dropdown links on hover */
        .dropdown-content i:hover {
            background-color: #dcdfec;
            border-radius: 8px;
        }
    }

    .workspace-sidebar {
        padding-bottom: 6px;
   
        align-items: center;
        margin: 12px 16px 2px 16px;

        span {
            font-size: 14px;
            font-weight: 400;
            color: #676879;
        }

        .dot {
            font-size: 21px;
            cursor: pointer;
            transition: background-color .2s;
            border-radius: 4px;
        }

        .dot:hover {
            background-color: #dcdfec;
        }
    }

    .workspace-board {
        position: relative;
        width: 80%;
        padding: 6px;
        padding: 6px;
        border: 1px solid;
        border-radius: 4px;
        border-color: #676879;
        margin-right: 4px;
        margin: auto;
        margin-bottom: 18px;


        .workspace-board-name {
            width: 100%;

            h2 {
                font-size: rem(16px);
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: roboto-bold;
            }
        }
    }


}