.sub-sidebar-container {
    background-color: #f6f7fb;
    box-shadow: -1px 0px 7px 1px #605d5d;
    height: 100vh;
    min-width: 30px;
    border-right: 1px solid #e3edff;
    
    transition: .1s ease;

    .workspace-icon {
        width: 26px;
        height: 26px;
        border-radius: 8px;
        justify-content: center;
        margin-right: 5px;
        background-color: #d83a52;
        color: rgb(255, 255, 255);
        font-family: roboto-bold;
    }

    &.is-open {
        min-width: 254px;
        .open-btn {
            position: absolute;
            left: 243px;
        }
    }

    .open-btn {
        left: 18px;
        position: absolute;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        border: 1px solid rgb(163, 163, 167);
        background-color: white;
        line-height: 1.5;
        cursor: pointer;
        top: 20px;
        z-index: 100;
        transition: background-color .2s;
    }
    .open-btn:hover {
        background-color: #529eee;
    }
    .workspace-board {
        position: relative;
        width: 80%;
        padding: 6px;
        padding: 6px;
        border: 1px solid;
        border-radius: 4px;
        border-color: #676879;
        margin-right: 4px;
        margin: auto;
        .workspace-board-name {
            width: 100%;

            h2 {
                font-size: rem(16px);
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: roboto-bold;
            }
        }
    }

    .workspace-options {
        .dropdown-dot .dropdown {
            position: absolute;
            display: none;
            padding-bottom: 6px;
            font-size: 13px;
            transition: color .2s;
            transform: translateY(-15px);
            z-index: 10;
            font-size: 27px;
        }

        justify-content: space-between;
        color: #323338;
        flex-grow: 1;
        padding-left: 16px;
        height: 50px;
        padding-bottom: 16px;
        margin-top: 10px;

        .option {
            cursor: pointer;
            width: 90%;
            align-items: center;
            font-size: rem(16px);
            transition: background-color .2s;
            padding-left: 6px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            gap: 16px;

            &.last-one {
                border-bottom: 1px solid #babbc4;
            }
        }
        
        .option:hover {
            background-color: #dcdfec;
        }
        .active {
            background-color: #dcdfec;
        }
        .boards-options {
            padding-top: 17px;

            .table-chart {
                font-size: 18px;
            }

            .boards-list {
                span{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 14ch;
                }
                .dropdown-dot:hover {
                    color: #7f8083
                }
            }

            .option:hover .dropdown-dot .dropdown {
                display: block;
            }
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            font-weight: 400;
            font-size: rem(17px);
            background-color: white;
            min-width: 240px;
            box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
            z-index: 100;
            border-radius: 10px;
            padding: 10px;

            .icon-dropdown {
                font-size: 21px;
                transform: translateY(3px);
            }
        }

        hr {
            color: #e6e7ec83;
        }

        /* Links inside the dropdown */
        .dropdown-content i {
            font-style: normal;
            color: #5b5c63;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

        }
        /* Change color of dropdown links on hover */
        .dropdown-content i:hover {
            background-color: #dcdfec;
            border-radius: 8px;
        }
    }
    .workspace-sidebar {
        padding-bottom: 6px;
        padding-top: 6px;
        align-items: center;
        margin: 12px 16px 2px 16px;

        span {
            font-size: 14px;
            font-weight: 400;
            color: #676879;
        }

        .dot {
            font-size: 21px;
            cursor: pointer;
            transition: background-color .2s;
            border-radius: 4px;
        }

        .dot:hover {
            background-color: #dcdfec;
        }
    }
}