.sub-sidebar-container {
    background-color: #f6f7fb;
    height: 100vh;
    min-width: rem(30px);
    border-right: 1px solid #c2c9d8;
    transition: .1s ease;

    @include for-mobile-layout {
        width: 100vw;
        // display: none;
    }


    .workspace-options {
        color: #323338;

        .boards-options {
            padding: 0 16px 16px 14px;
            justify-content: start;

            .option {
                padding-left: 6px;
                height: 32px;
                margin-top: 8px;
                border-radius: 4px;
                width: 100%;

                .menu-btn-inner-text {
                    font-size: 14px;
                    margin: 0 8px;
                }
            }
        }

        .dropdown-dot .dropdown {
            position: absolute;
            display: none;
            padding-bottom: 6px;
            font-size: 13px;
            transition: color .2s;
            transform: translateX(60px);
            z-index: 10;
            font-size: 27px;

            & .points {
                transform: translateY(-15px);
            }
        }

        .option {
            cursor: pointer;
            width: 90%;
            align-items: center;
            font-size: rem(16px);
            transition: background-color .2s;
            border-radius: 4px;
        }

        .option:hover,
        .active:hover {
            background-color: var(--primary-background-hover-color);
        }


        .boards-options {
            padding-top: 16px;

            .table-chart {
                width: 19px;
                height: 19px;
                font-size: 18px;
                color: var(--primary-text-color);
            }

            .boards-list {
                .dropdown-dot:hover {
                    color: #7f8083
                }
            }

            .option:hover .dropdown-dot .dropdown {
                display: block;

            }
        }


        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            font-weight: 400;
            font-size: rem(17px);
            background-color: white;
            min-width: 240px;
            box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
            z-index: 100;
            border-radius: 10px;
            padding: 10px;

            .icon-dropdown {
                font-size: 21px;
                transform: translateY(3px);
            }
        }

        hr {
            color: #e6e7ec83;
        }

        /* Links inside the dropdown */
        .dropdown-content i {
            font-style: normal;
            color: #5b5c63;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

        }

        /* Change color of dropdown links on hover */
        .dropdown-content i:hover {
            background-color: #dcdfec;
            border-radius: 8px;
        }
    }

    .workspace-sidebar {
        padding-bottom: 6px;

        align-items: center;
        margin: 12px 16px 2px 16px;

        span {
            font-size: 14px;
            font-weight: 400;
            color: #676879;
        }

        .dot {
            font-size: 21px;
            cursor: pointer;
            transition: background-color .2s;
            border-radius: 4px;
        }

        .dot:hover {
            background-color: #dcdfec;
        }
    }

    & .workspace-board {
        position: relative;
        width: 80%;
        padding: 6px;
        padding: 6px;
        border-radius: 4px;
        margin-right: 4px;
        margin: auto;
        margin-bottom: 18px;

        .workspace-board-name {
            width: 100%;

            .workspace-icon {
                width: rem(26px);
                height: rem(26px);
                border-radius: rem(8px);
                justify-content: center;
                margin-right: rem(5px);
                background-color: #d83a52;
                color: rgb(255, 255, 255);
            }

            h2 {
                font-size: rem(16px);
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: roboto-bold;
            }
        }

        .arrow-btn {
            @include for-mobile-layout {
                display: none;
            }
        }
    }

    & .workspace-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-grow: 1;
        height: 100%;
        font-family: roboto, rubik, sans-serif;

        & .workspace-empty-title {
            font-weight: 400;
            font-size: 14px;
            padding: 0px 10px;
            line-height: 22px;
            margin: 0;
            border: 0;
            vertical-align: baseline;
        }

        & .workspace-empty-subtitle {
            margin-bottom: rem(18px);
            font-size: rem(14px);
            padding: 0px 10px;
            line-height: rem(22px);
        }

        & .btn-add-board {
            @include btn($bgColor: var(--primary-color), $color: var(--text-color-on-primary));
            padding: 4px 8px;
            height: 32px;
            line-height: 24px;
        }
    }
}

@include for-mobile-layout {
    .sub-sidebar-container {

        & .open-btn {
            display: none;
        }

        & .workspace-options {

            & .boards-options {
                & .boards-list span {
                    padding: 10px;
                    border: 1px solid lightgray;
                }
            }

            & .action-btn {
                display: none;
            }

            & .spacer {
                display: none;
            }
        }
    }
}

@include for-narrow-layout {
    .sub-sidebar-container {
        position: relative;

        & .workspace-board {
            border: 1px solid #b6b6bc;
        }

        & .workspace-options {
            & .boards-options {
                & .boards-list span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 14ch;
                }
            }

            & .action-btn {
                padding: 0 16px 16px 14px;
                justify-content: start;

                & .option {
                    padding-left: 6px;
                    height: 32px;
                    border-radius: 4px;
                    width: 100%;

                    & .menu-btn-inner-text {
                        font-size: 14px;
                        margin: 0 8px;
                    }
                }
            }

            & .spacer {
                border-bottom: 1px solid;
                border-color: var(--layout-border-color);
                margin: 0 20px;
            }
        }

        &.is-open {
            min-width: 280px;
        }

        &.is-open .open-btn {
            position: absolute;
            top: 25px;
            left: rem(268px);
        }

        .open-btn {
            left: rem(18px);
            position: absolute;
            height: 23px;
            width: 23px;
            border-radius: 50%;
            border: 1px solid rgb(163, 163, 167);
            background-color: white;
            line-height: 1.5;
            cursor: pointer;
            top: 20px;
            z-index: 5;
            transition: all .2s;
            padding: rem(2px);

            &:hover {
                background-color: #529eee;
                color: white;
                padding-right: rem(8px);
            }
        }
    }
}

@include for-normal-layout {
    .sub-sidebar-container {

        &.is-open .open-btn {
            left: rem(303px);
        }

        .open-btn {
            left: rem(14px);
        }
    }
}

@include for-wide-layout {
    .sub-sidebar-container {
        z-index: 110;

        &.is-open .open-btn {
            left: rem(270px);
        }

        .open-btn {
            left: rem(15px);
        }
    }
}