.preview-full-task {
    .task-preview {

        .cell {
            @include cell;
            font-size: 14px;

        }

        .task-name-area {
            width: 400px;

            .task-group-color {
                width: 6px;
                height: 100%;
            }

            .preview-checkbox {
                @include checkbox;
            }

            .btn-subitem {
                width: 30px;
                transition: opacity .2s, transform .2s;
                display: flex;
                margin: 7px 4px;

                .subitem-icon {
                    margin: auto;
                    opacity: 0;
                    border-radius: 4px;
                    color: var(--ui-border-color);
                    @include collapsable-icon-btn;

                    &:hover {
                        opacity: 1;
                        background-color: var(--layout-border-color);

                    }
                }
            }

            .btn-open-task {
                margin-inline: 15px;

            }

            .btn-updates-count {
                display: flex;
                align-items: center;
                height: 100%;
                padding-inline: 16px;
                margin-left: 8px;
                font-size: 24px;
                color: #c5c7d0;
                border-left: 1px solid var(--layout-border-color);
                transition: color 200ms ease;

                &:hover {
                    color: var(--primary-color);
                }
            }

            .editable-heading {
                @include editable-heading;
            }
        }

        .persons-header {
            width: 150px;
            @include task-cell-with-content;
        }

        .label-type {
            width: 150px;
            @include task-cell-with-content;
            color: white;
        }

        .last-updated {
            width: 200px;
            @include task-cell-with-content;
        }

        .date-header {
            width: 200px;
            @include task-cell-with-content;
        }

        .add-column {
            width: 400px;
            @include task-cell-with-content;
        }
    }

    .dot {
        height: 30px;
        font-size: 18px;
        transform: translateY(5px);
        cursor: pointer;
        opacity: 0;
        transition: background-color .2s;
        border-radius: 6px 0 0 6px;

        &:hover {
            background-color: #dcdfec;
        }
    }

    &:hover .dot {
        opacity: 1;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        // position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        font-weight: 400;
        font-size: rem(17px);
        background-color: white;
        min-width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
        z-index: 100;
        border-radius: 10px;
        padding: 10px;
        transform: translateX(-30px);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        font-style: normal;
        color: #5b5c63;
        padding: 12px 16px;
        text-decoration: none;
        // display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #dcdfec;
        border-radius: 8px;
        cursor: pointer;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
}

.preview-new-task {

    .cell {
        @include cell;
        position: relative;
        left: 18px;
    }

    .task-name-area {
        width: 400px;

        .task-group-color {
            width: 6px;
            height: 100%;
            opacity: .5;
            border-bottom-left-radius: 10px;
        }

        .preview-checkbox {
            @include checkbox;
        }

        .editable-heading {
            margin-block: auto;
            margin-inline-start: 36px;
            @include editable-heading;
        }

    }
}


/* The container <div> - needed to position the dropdown content */
.label-dropdown {
    position: relative;
    display: inline-block;


    /* Dropdown button on hover & focus */
    .btn-open-label-drop:hover,
    .btn-open-label-drop:focus {
        background-color: #2980B9;
    }


    /* Dropdown Content (Hidden by Default) */
    .dropdown-labels-content {
        position: absolute;
        display: none;
        pointer-events: all;
        border-radius: 8px;
        font-size: 14px;
        background-color: var(--secondary-background-color);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        color: var(--primary-text-color);
        transition: width .1s;
        z-index: 2;
        right: -25%;


        &.show {
            display: block;
        }

        .picker-content {
            .picker-list {
                display: grid;
                grid-auto-flow: column;
                padding: 16px 24px 8px;
                grid-column-gap: 8px;
                list-style-type: none;

                .option {
                    cursor: pointer;
                    display: block;
                    color: #fff;
                    text-align: center;
                    width: 160px;
                    margin-bottom: 8px;
                    transition: transform .1s ease-in-out, opacity .1s ease-in-out;
                    line-height: 32px;
                    border-radius: 2px;
                    padding: 0 4px;


                    &:hover {
                        opacity: .85;
                    }
                }
            }

        }
    }
}