.preview-full-task {
    .task-preview {

        .cell {
            @include cell;
            font-size: 14px;

        }

        .task-name-area {
            width: 400px;

            .task-group-color {
                width: 6px;
                height: 100%;
            }

            .preview-checkbox {
                @include checkbox;
            }

            .btn-subitem {
                width: 30px;
                transition: opacity .2s, transform .2s;
                display: flex;
                margin: 7px 4px;

                .subitem-icon {
                    margin: auto;
                    opacity: 0;
                    border-radius: 4px;
                    color: var(--ui-border-color);
                    @include collapsable-icon-btn;

                    &:hover {
                        opacity: 1;
                        background-color: var(--layout-border-color);

                    }
                }
            }

            .btn-open-task {
                margin-inline: 15px;

            }

            .btn-updates-count {
                display: flex;
                align-items: center;
                height: 100%;
                padding-inline: 16px;
                margin-left: 8px;
                font-size: 24px;
                color: #c5c7d0;
                border-left: 1px solid var(--layout-border-color);
                transition: color 200ms ease;

                // border-left-color: var(--layout-border-color);
                &:hover {
                    color: var(--primary-color);
                }
            }

            .editable-heading {
                @include editable-heading;
            }
        }

        .persons-header {
            width: 150px;
            @include task-cell-with-content;
        }

        .label-type {
            width: 150px;
            @include task-cell-with-content;
            color: white;
        }

        .last-updated {
            width: 200px;
            @include task-cell-with-content;
        }
        .date-header {
            width: 200px;
            @include task-cell-with-content;
        }
        .add-column {
            width: 400px;
            @include task-cell-with-content;
        }
    }

    // .cell {

    //     .label-type {
    //         color: white;
    //     }

    //     .task-preview {
    //         &:hover {
    //             z-index: 100;
    //             box-shadow: 4px 3px 6px -3px var(--ui-border-color);
    //         }
    //     }
    //     .task-name-area:not(.group-task-name-area) {
    //         @include editable-heading;
    //         font-size: 14px
    //     }
    //     .name-cell {
    //         @include cell;
    //     }
    //     &.cell:hover {
    //         .dot {
    //             opacity: 1;
    //         }
    //     }
    // }

    .dot {
        height: 30px;
        font-size: 18px;
        transform: translateY(5px);
        cursor: pointer;
        opacity: 0;
        transition: background-color .2s;
        border-radius: 6px 0 0 6px;

        &:hover {
            background-color: #dcdfec;
        }
    }

    &:hover .dot {
        opacity: 1;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        // position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        font-weight: 400;
        font-size: rem(17px);
        background-color: white;
        min-width: 190px;
        box-shadow: 0px 8px 16px 0px rgba(31, 30, 30, 0.4);
        z-index: 100;
        border-radius: 10px;
        padding: 10px;
        transform: translateX(-30px);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        font-style: normal;
        color: #5b5c63;
        padding: 12px 16px;
        text-decoration: none;
        // display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #dcdfec;
        border-radius: 8px;
        cursor: pointer;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
}

.preview-new-task {

    .cell {
        @include cell;
        position: relative;
        left: 18px;
    }

    .task-name-area {
        width: 400px;

        .task-group-color {
            width: 6px;
            height: 100%;
            opacity: .5;
            border-bottom-left-radius: 10px;
        }

        .preview-checkbox {
            @include checkbox;
        }

        .editable-heading {
            margin-block: auto;
            margin-inline-start: 36px;
            @include editable-heading;
        }

    }
}
