.preview-full-task {
    .task-preview {
        font-family: roboto, Rubik, sans-serif;

        .cell {
            @include cell;
            font-size: rem(14px);

        }

        .task-name-area {
            
            // width: 200px;
            background-color: var(--primary-background-color);

            @include for-narrow-layout {
                width: 400px;
            }

            .task-group-color {
                width: rem(6px);
                height: 100%;
            }

            .preview-checkbox {
                display: none;

                @include for-narrow-layout {
                    @include checkbox;
                }
            }

            .btn-subitem {
                display: none;
                margin: rem(7px) 0px;
                width: rem(30px);
                transition: opacity .2s, transform .2s;

                @include for-narrow-layout {
                    display: flex;
                }

                .subitem-icon {
                    margin: auto;
                    opacity: 0;
                    border-radius: rem(4px);
                    color: var(--ui-border-color);
                    @include collapsable-icon-btn;

                    &:hover {
                        opacity: 1;
                        background-color: var(--layout-border-color);

                    }
                }
            }

            .btn-open-link {
                display: none;

                @include for-narrow-layout {
                    display: block;
                }

                .btn-open-task {
                    opacity: 0;
                    margin-inline: rem(15px);
                    padding-top: 5px;
                    .open-icon {
                        font-size: rem(18px);
                        padding-right: 3px;
                    }
                }
            }
            &:hover .btn-open-task{
                opacity: 1;
            }
            .btn-updates-count {
                display: flex;
                align-items: center;
                height: 100%;
                padding-inline: rem(16px);
                margin-left: rem(18px);
                
                font-size: rem(24px);
                color: #c5c7d0;
                border-left: 1px solid var(--layout-border-color);
                transition: color 200ms ease;

                &:hover {
                    color: var(--primary-color);
                }
            }
            .editable-heading {
                @include editable-heading;

                & input {
                    font-family: roboto, rubik, sans-serif;
                }
            }
        }
        .persons-header {
            width: rem(150px);
            @include task-cell-with-content;
        }

        .label-type {
            width: rem(150px);
            @include task-cell-with-content;
            color: white;
        }

        .last-updated {
            width: rem(200px);
            @include task-cell-with-content;
        }

        .date-header {
            width: rem(200px);
            @include task-cell-with-content;
        }

        .add-column {
            width: rem(400px);
            @include task-cell-with-content;
        }
    }

    .dot {
        height: rem(29px);
        font-size: rem(18px);
        // transform: translateY(5px);
        transform: translateX(-8px);
        cursor: pointer;
        opacity: 0;
        transition: background-color .2s;
        border-radius: 6px;

        &:hover {
            background-color: #dcdfec;
        }
    }

    &:hover .dot {
        opacity: 1;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        font-weight: 400;
        font-size: rem(17px);
        background-color: white;
        min-width: rem(190px);
        box-shadow: 0 rem(8px) rem(16px) 0 rgba(31, 30, 30, 0.4);
        z-index: 100;
        border-radius: rem(10px);
        padding: rem(10px);
        transform: translateX(-30px);
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        font-style: normal;
        color: #5b5c63;
        padding: rem(12px) rem(16px);
        text-decoration: none;
        // display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #dcdfec;
        border-radius: rem(8px);
        cursor: pointer;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
}

.preview-new-task {

    .cell {
        @include cell;
        // position: relative;
        // left: 18px;
    }

    .task-name-area {
        width: rem(400px);

        .task-group-color {
            width: rem(6px);
            height: 100%;
            opacity: .5;
            border-bottom-left-radius: rem(10px);
        }

        .preview-checkbox {
            display: none;

            @include for-narrow-layout {
                @include checkbox;
            }
        }

        .editable-heading {
            margin-block: auto;
            margin-inline-start: rem(36px);
            @include editable-heading;
        }

    }
}


/* The container <div> - needed to position the dropdown content */
.label-dropdown {
    position: relative;
    display: inline-block;


    /* Dropdown button on hover & focus */
    .btn-open-label-drop:hover,
    .btn-open-label-drop:focus {
        background-color: #2980B9;
    }


    /* Dropdown Content (Hidden by Default) */
    .dropdown-labels-content {
        position: absolute;
        display: none;
        pointer-events: all;
        border-radius: rem(8px);
        font-size: rem(14px);
        background-color: var(--secondary-background-color);
        box-shadow: 0px rem(8px) rem(16px) 0px rgba(0, 0, 0, 0.2);
        color: var(--primary-text-color);
        transition: width .1s;
        z-index: 2;
        right: -25%;


        &.show {
            display: block;
        }

        .picker-content {
            .picker-list {
                display: grid;
                grid-auto-flow: column;
                padding: rem(16px) rem(24px) rem(8px);
                grid-column-gap: rem(8px);
                list-style-type: none;

                .option {
                    cursor: pointer;
                    display: block;
                    color: #fff;
                    text-align: center;
                    width: rem(160px);
                    margin-bottom: rem(8px);
                    transition: transform .1s ease-in-out, opacity .1s ease-in-out;
                    line-height: rem(32px);
                    border-radius: rem(2px);
                    padding: 0 rem(4px);


                    &:hover {
                        opacity: .85;
                    }
                }
            }

        }
    }
}

.label-dropdown .main-screen {
    @include main-screen;
}

.label-dropdown.show .main-screen {
    @include main-screen-open;
}