.timeline-container {
    flex-basis: rem(190px);
    min-width: rem(190px);
    display: flex;
    align-items: center;
    justify-content: center;

    .date-picker-cmp,
    .date-picker,
    .set-dates {
        width: rem(157px);
        font-size: rem(13px);
        display: inline-block;
        // padding: rem(1px) rem(3px);
        border: none;
        line-height: rem(22px);
        border-radius: rem(10px);
        margin: 0 auto;
        cursor: pointer;
    }

    .date-pick-area {
        display: flex;
        justify-content: center;
        gap: 5px;

        .sum-days {
            position: relative;
            display: none;
           
        }

        &:hover .sum-days {
            display: block;
        }

        .date-picker {
            width: rem(152px);
            height: rem(25px);
            border-radius: rem(11px);
            position: relative;

            .date-picker-container {

                .date-picker-cmp {
                    width: rem(152px);
                    border-radius: rem(11px);
                    color: white;
                    border: .5px solid rgb(190, 187, 187);
                    background-color: transparent;
                    position: absolute;
                    top: -16px;
                    
                }
            }
            
            .progress-bar {
                position: absolute;
                border-radius: rem(11px);
                height: rem(25px);
            }

            .position {
                width: rem(152px);
                height: rem(25px);
                border-radius: rem(11px);
            }
        }
    }
}

// .timeline {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-basis: 180px;
//     min-width: 180px;
//     .date-pick-wrapper {
//         display: flex;
//     }
//     .date-picker-cmp,
//     .date-picker,
//     .no-date,
//     .set-dates,
//     .num-of-days {
//         width: 152px;
//         font-size: 13px;
//         // amend width side so it won't use pixels.
//         display: inline-block;
//         padding: 1.25px 5.25px;
//         border: none;
//         background-color: $grey;
//         color: white;
//         line-height: 22px;
//         border-radius: 11px;
//         margin: 0 auto;
//         cursor: pointer;
//     }
//     .date-picker-container {
//         width: 152px;
//         height: 25px;
//         border-radius: 11px;
//         position: relative;
//         .date-picker-cmp {
//             width: 152px;

//             background-color: transparent;
//             position: absolute;
//             top: -45px;
//             right: -78px;
//         }
//         .progress-bar {
//             position: absolute;
//             height: 25px;
//             border-radius: 11px;
//         }

//         .grey-bck {
//             width: 152px;
//             height: 25px;
//             background-color: $grey;
//             border-radius: 11px;
//         }
//     }

//     // .date-picker-cmp {
//     //     // position: absolute;
//     //     // top: 36px;
//     //     // z-index: 3;
//     // }

//     .date-picker-pos {
//         transform: translate(-45px, 20px) !important;
//     }
// }