.user-msg {
    position: fixed;
    padding: rem(8px);
    padding-right: rem(15px);
    height: rem(48px);
    top: rem(20px);
    left: 50%;
    gap: rem(10px);
    color: white;
    background-color: #258750;
    border-radius: rem(6px);
    font-size: rem(16px);
    flex-direction: row-reverse;
    transform: translateX(-50%);
    z-index: 100;

    button {
        width: rem(36px);
        height: rem(32px);
        border-radius: rem(6px);
        cursor: pointer;
        border: 0;
        color: white;
        margin: rem(5px);
        padding: rem(4px) rem(8px);
        background-color: #258750;
    }
    .msg-btn {
        border: 1px solid rgb(206, 204, 204);
    }
}

.user-msg button:hover {
    background-color: #007038;
    ;
}

.user-msg.danger {
    background-color: rgb(216, 59, 59);
}