.trello-task-preview {
    font-size: 13px;
    color: #323338;
    width: 242px;
    background-color: #fff;
    border: 1px solid transparent;
    margin-top: 6px;
    border-radius: 8px;
    cursor: pointer !important;
    .trello-task-title {
     padding: 8px 13px;
     height: 32px;
     display: flex;
     align-items: center;
    }
    .trello-task-data {
     padding: 8px;
     .trello-task-status {
      margin-bottom: 8px;
     }
     .trello-task-status,
     .trello-task-priority {
      display: flex;
      align-items: center;
      height: 34px;
      width: 220px;
      justify-content: space-between;
      .trello-task-status-title,
      .trello-task-priority-title {
       padding-left: 2px;
       display: flex;
       align-items: center;
       svg {
        font-size: 15px;
        padding-right: 8px;
       }
       span {
        color: #676879;
        font-size: 13px;
       }
      }
      .trello-status-label,
      .trello-priority-label {
       width: 124px;
       height: 34px;
       display: flex;
       align-items: center;
       justify-content: center;
    //    color: #fff;
       font-size: 14px;
       position: relative;
       .trello-status-modal,
       .trello-priority-modal {
        position: absolute;
        min-width: 145px;
        background: transparent;
        top: 20px;
        z-index: 999;
        div {
         display: flex;
         justify-content: center;
         font-size: 20px;
        }
        > *:last-child {
         cursor: auto;
         display: flex;
         justify-content: flex-start;
         flex-direction: column;
         height: 200px;
         margin-top: -6px;
         padding: 16px;
        //  background: #fff;
         border: 1px solid #e6e9ef;
         > * {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          font-size: 13px;
          margin-bottom: 8px;
          background-color: red;
         }
        }
       }
      }
     }
    }
   }