.kanban-header {
    width: 260px;
    height: 24px;
    padding-top: 12px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    border-radius: 4px 4px;
    font-size: 16px;
    // color: #fff;
    // background: var(--positive-color);

   
   }