@mixin editable-heading {
    margin: 0;
    width: 100%;
    // width: fit-content;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: var(--font-h4);

    &:hover {
        cursor: text;
        border: 1px solid;
        border-color: var(--ui-border-color);
    }
}

@mixin cell {
    cursor: pointer;
    height: 36px;
    align-items: center;
    justify-content: center;
}


@mixin heading {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    min-width: 0;
    padding: 0 4px;
    color: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: initial;

    // font-size: 32px;
    // line-height: 52px;
    // font-weight: var(--font-weight-bold);
    // font-family: var(--font-family);
    // letter-spacing: -1px;
    // -webkit-font-smoothing: var(--font-smoothing-webkit);
    // -moz-osx-font-smoothing: var(--font-smoothing-moz);
    &:focus-visible {
        outline: .5px solid var(--primary-background-hover-color);
    }
}

@mixin btn-modal {
    
}

@mixin btn-arrow($bgColor: rgba(0, 0, 0, 0),
    $color: var(--primary-text-color),
    $hoverBgColor: var(--primary-background-hover-color)) {
        
        background-color: var(--color-basic_blue);
    }

@mixin btn($bgColor: rgba(0, 0, 0, 0), $color: var(--primary-text-color), $hoverBgColor: var(--primary-background-hover-color)) {
    display: inline-block;
    background-color: $bgColor;
    color: $color;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: var(--motion-productive-short) transform, var(--motion-productive-medium) var(--motion-timing-transition) min-width;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: var(--element-width);
    padding: 4px 8px;

    // padding: 8px 24px 8px 12px ;
    &:hover {
        background-color: $hoverBgColor ;
    }
}

@mixin icon-cmp {
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
}

@mixin input-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}