@mixin editable-heading {
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    font: var(--font-h4);

    &:hover {
        cursor: text;
        border: 1px solid;
        border-color: var(--ui-border-color);
    }
}

@mixin task-cell-with-content {
    display: flex;
    justify-content: center;
    border-inline-start: 0.5px solid #d0d4e4;

}

@mixin cell {
    height: 36px;
    align-items: center;
    border-top: 0.5px solid #d0d4e4;
    // & :not(:first-of-type) {
    //     border-inline-start: 0.5px solid #d0d4e4;
    // }
}

@mixin checkbox {
    width: 32px;
    height: 100%;
    border-inline: 0.5px solid #d0d4e4;
    display: flex;

    .input-checkbox {
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin-inline: auto;
        margin-block: auto;
        opacity: .4;
        transition: transform var(--motion-productive-short) var(--motion-timing-enter);
    }
}

@mixin collapsable-icon-btn {
    transform-origin: center center;
    // transform: rotate(90deg);
    transform: rotate(0deg);
    transition: transform .2s;
    width: 22px;
    height: 22px;
}


@mixin heading {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    min-width: 0;
    padding: 0 4px;
    color: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: initial;

    &:focus-visible {
        outline: .5px solid var(--primary-background-hover-color);
    }
}

@mixin tool-bar {
    overflow: hidden;
    margin-top: var(--spacing-small);
    padding-bottom: 4px;
    height: 32px;
    border-bottom: .5px solid var(--ui-border-color);

    & span {
        padding: 8px 24px 5px 12px;
        font-weight: 500;
        padding: 0 4px;
        font-size: 14px;
        max-width: 150px;
        min-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & a {
        padding: 8px 24px 5px 12px;

        &.active {
            border-bottom: 2px solid var(--primary-color);
        }
    }
}

@mixin modal ($bgColor: white, $width: rem(500px), $height: 100vh) {
    position: fixed;
    background-color: $bgColor;
    width: $width;
    height: $height;
    padding: rem(32px);
    z-index: 10;
}

@mixin btn-close-modal {
    position: absolute;
    height: rem(20px);
    width: rem(10px);
    border-radius: 5px;
    padding: rem(4px) rem(8px);
    transition: background-color .2s;
    cursor: pointer;
}

@mixin btn-arrow($bgColor: rgba(0, 0, 0, 0),
    $color: var(--primary-text-color),
    $hoverBgColor: var(--primary-background-hover-color)) {

    background-color: var(--color-basic_blue);
}

@mixin btn($bgColor: var(--primary-background-color), $color: var(--primary-text-color), $hoverBgColor: var(--primary-background-hover-color)) {
    display: inline-block;
    background-color: $bgColor;
    color: $color;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: var(--motion-productive-short) transform, var(--motion-productive-medium) var(--motion-timing-transition) min-width;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: var(--element-width);
    padding: 4px 8px;

    // padding: 8px 24px 8px 12px ;
    &:hover {
        background-color: $hoverBgColor ;
    }
}

@mixin icon-cmp {
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
}

@mixin input-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}