@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: sofia;
    src: url(../../fonts/sofia/Sofia-Pro-Regular.otf);
  }
  @font-face {
    font-family: sofia-thin;
    src: url(../../fonts/sofia/Sofia-Pro-Thin.otf);
  }
  @font-face {
    font-family: sofia-bold;
    src: url(../../fonts/sofia/Sofia-Pro-Bold.otf);
  }
  
