// COLORS

$clr1: rgb(180, 111, 180);
$clr2: white;
$clr3: #212724;
$clr4: whitesmoke;
$clr5: rgb(255, 234, 195);
$clr6: #676879;

:root {

    --scrollbar-color: var(--color-wolf_gray);
    --color-wolf_gray: #c3c6d4;
    --monday-loader-gif-path: url(https://cdn.monday.com/images/loader/loader.gif);
    --ajax-spinner-gif-path: url(https://cdn.monday.com/images/ajax_spinner.gif);

    --application-background-color: var(--color-snow_white);
    --color-snow_white: #ffffff;
    --application-border-color: #e6e9ef;




    --motion-productive-short: 70ms;
    --motion-productive-medium: 100ms;
    --motion-productive-long: 150ms;
    --motion-expressive-short: 250ms;
    --motion-expressive-long: 400ms;
    --motion-timing-enter: cubic-bezier(0, 0, 0.35, 1);
    --motion-timing-exit: cubic-bezier(0.4, 0, 1, 1);
    --motion-timing-transition: cubic-bezier(0.4, 0, 0.2, 1);
    --motion-timing-emphasize: cubic-bezier(0, 0, 0.2, 1.4);
    --expand-animation-timing: var(--motion-timing-enter);
    --spacing-xs: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing-xxxl: 64px;
    --border-width: 1px;
    --border-style: solid;
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-big: 16px;
    --disabled-component-opacity: 0.38;
    --font-family: Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP, sans-serif;
    --h1-font-family: Poppins, Roboto, Rubik, Noto Kufi Arabic, Noto Sans JP, sans-serif;
    --font-smoothing-webkit: antialiased;
    --font-smoothing-moz: grayscale;
    --font-weight-very-light: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --font-size-10: 14px;
    --font-size-20: 14px;
    --font-size-30: 16px;
    --font-size-40: 18px;
    --font-size-50: 24px;
    --font-size-60: 30px;
    --font-line-height-10: 18px;
    --font-line-height-20: 24px;
    --font-line-height-30: 24px;
    --font-line-height-40: 24px;
    --font-line-height-50: 32px;
    --font-line-height-60: 42px;
    --font-size-h1: var(--font-size-60);
    --font-size-h2: var(--font-size-50);
    --font-size-h3: var(--font-size-50);
    --font-size-h4: var(--font-size-40);
    --font-size-h5: var(--font-size-30);
    --font-size-general-label: var(--font-size-20);
    --font-size-paragraph: var(--font-size-30);
    --font-size-subtext: var(--font-size-10);
    --font-line-height-h1: var(--font-line-height-60);
    --font-line-height-h2: var(--font-line-height-50);
    --font-line-height-h3: var(--font-line-height-50);
    --font-line-height-h4: var(--font-line-height-40);
    --font-line-height-h5: var(--font-line-height-30);
    --font-line-height-general-label: var(--font-line-height-20);
    --font-line-height-paragraph: var(--font-line-height-30);
    --font-line-height-subtext: var(--font-line-height-10);
    --font-h1: var(--font-weight-bold) var(--font-size-h1)/var(--font-line-height-h1) var(--h1-font-family);
    --font-h2: var(--font-weight-bold) var(--font-size-h2)/var(--font-line-height-h2) var(--font-family);
    --font-h3: var(--font-weight-light) var(--font-size-h3)/var(--font-line-height-h3) var(--font-family);
    --font-h4: var(--font-weight-bold) var(--font-size-h4)/var(--font-line-height-h4) var(--font-family);
    --font-h5: var(--font-weight-bold) var(--font-size-h5)/var(--font-line-height-h5) var(--font-family);
    --font-general-label: var(--font-weight-normal) var(--font-size-general-label)/var(--font-line-height-general-label) var(--font-family);
    --font-paragraph: var(--font-weight-normal) var(--font-size-paragraph)/var(--font-line-height-paragraph) var(--font-family);
    --font-subtext: var(--font-weight-normal) var(--font-size-subtext)/var(--font-line-height-subtext) var(--font-family);







    --react-modal-background: rgba(41, 47, 76, 0.7);
    --text-color-on-card: #323338;
    --main-nav-background-color: #292f4c;
    --pulse-background-color: #f5f6f8;
    --pulse-background-color-rgb: 245, 246, 248;
    --pulse-background-color-opacity: #f5f6f880;
    --pulse-text-color: #666;
    --pulse-hover-background-color: #e6e9ef;
    --pulse-selected-background-color: #e5f4ff;
    --pulse-floating-background-color: 253, 253, 250;
    --pulse-highlight-background-color: #cce9ff;
    --surfce-color: #292f4c;
    --surface-border-color: #4b4e69;
    --card-background-color: var(--primary-background-color);
    --card-hover-background-color: white;
    --card-selected-background-color: #d9f0ff;
    --card-selected-text-color: #0073ea;
    --automations-hover-background-color: #f5f6f8;
    --automations-label-background-color: #f5f6f8;
    --automations-border-color: #e6e9ef;
    --automations-account-usage-background-color: white;
    --automations-account-usage-dropdown-border-color: #d9d9d9;
    --automations-account-usage-progressbar-background-color: #e6e9ef;
    --apps-svg-icon-invert: invert(0);
    --apps-code-color: #5559df;
    --apps-feature-preview-color: #e5f4ff;
    --apps-tabs-border-color: #1c1f3b;
    --card-border-color: #e6e9ef;
    --avatar-border-color: var(--color-snow_white);
    --modal-bottom-color: #f7f7f7;
    --modal-free-indication-color: var(--primary-selected-color);
    --notification-unread-highlight-color: #d2eaff;
    --apps-marketplace-highlight-color: #f5f6f8;
    --redactor-context-background-color: #323338;
    --redactor-context-link-color: #fff;
    --ajax-spinner-gif-path: url(https://cdn.monday.com/images/ajax_spinner.gif);
    --scrollbar-color: var(--color-wolf_gray);
    --monday-loader-gif-path: url(https://cdn.monday.com/images/loader/loader.gif);
    --hint-background-color: #ccf4e3;
    --transparent-overlay: rgba(41, 47, 76, 0.5) !important;
    --timeline-row-hover: rgba(210, 210, 210, 0.3);
    --timeline-value-remains: #333333;


    --color-highlight_blue: #cce5ff;
    --color-basic_blue: #0073ea;
    --color-dark_blue: #0060b9;
    --color-bazooka: #f65f7c;
    --color-riverstone_gray: #f6f7fb;
    --color-ui_grey: #dcdfec;
    --color-asphalt: #676879;
    --color-mud_black: #323338;
    --color-black: #000000;
    --color-success: #258750;
    --color-success-hover: #007038;
    --color-success-highlight: #bbdbc9;
    --color-error: #d83a52;
    --color-error-hover: #b63546;
    --color-error-highlight: #f4c3cb;
    --color-link_color: #1f76c2;
    --color-surface: #292f4c;
    --primary-color: #0073ea;
    --primary-hover-color: #0060b9;
    --primary-selected-color: #cce5ff;
    --primary-text-color: #323338;
    --text-color-on-primary: #ffffff;
    --text-color-on-inverted: #ffffff;
    --secondary-text-color: #676879;
    --placeholder-color: #676879;
    --icon-color: #676879;
    --link-color: #1f76c2;
    --primary-background-color: #ffffff;
    --primary-background-hover-color: #dcdfec;
    --secondary-background-color: #ffffff;
    --grey-background-color: #f6f7fb;
    --allgrey-background-color: #f6f7fb;
    --inverted-color-background: #323338;
    --disabled-background-color: #ecedf5;
    --disabled-text-color: rgba(50, 51, 56, var(--disabled-component-opacity));
    --positive-color: #258750;
    --positive-color-hover: #007038;
    --positive-color-selected: #bbdbc9;
    --negative-color: #d83a52;
    --negative-color-hover: #b63546;
    --negative-color-selected: #f4c3cb;
    --private-color: #f65f7c;
    --shareable-color: #a25ddc;
    --ui-border-color: #c3c6d4;
    --layout-border-color: #d0d4e4;
    --box-shadow-xs: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    --box-shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.2);
    --box-shadow-medium: 0px 6px 20px rgba(0, 0, 0, 0.2);
    --box-shadow-large: 0px 15px 50px rgba(0, 0, 0, 0.3);
    --color-grass_green: #037f4c;
    --color-grass_green-hover: #116846;
    --color-grass_green-selected: #81bfa5;
    --color-done-green: #00c875;
    --color-done-green-hover: #0f9b63;
    --color-done-green-selected: #80e3ba;
    --color-done-green-selected-with-opacity: rgba(128, 227, 186, 0.6);
    --color-bright-green: #9cd326;
    --color-bright-green-hover: #7ca32b;
    --color-bright-green-selected: #cde992;
    --color-saladish: #cab641;
    --color-saladish-hover: #9d8f3e;
    --color-saladish-selected: #e4daa0;
    --color-egg_yolk: #ffcb00;
    --color-egg_yolk-hover: #c29e11;
    --color-egg_yolk-selected: #ffe580;
    --color-egg_yolk-rgb: 255, 213, 51;
    --color-working_orange: #fdab3d;
    --color-working_orange-hover: #c0873c;
    --color-working_orange-selected: #fed59e;
    --color-dark-orange: #ff642e;
    --color-dark-orange-hover: #c25531;
    --color-dark-orange-selected: #ffb196;
    --color-peach: #ffadad;
    --color-peach-hover: #c2888a;
    --color-peach-selected: #ffd6d6;
    --color-sunset: #ff7575;
    --color-sunset-hover: #c26163;
    --color-sunset-selected: #ffbaba;
    --color-sunset-selected-with-opacity: rgba(255, 186, 186, 0.6);
    --color-stuck-red: #e2445c;
    --color-stuck-red-hover: #ad3f51;
    --color-stuck-red-selected: #f0a1ad;
    --color-dark-red: #bb3354;
    --color-dark-red-hover: #92334c;
    --color-dark-red-selected: #dd99a9;
    --color-sofia_pink: #ff158a;
    --color-sofia_pink-hover: #c21e71;
    --color-sofia_pink-selected: #ff8ac4;
    --color-lipstick: #ff5ac4;
    --color-lipstick-hover: #c24e9a;
    --color-lipstick-selected: #fface1;
    --color-bubble: #faa1f1;
    --color-bubble-hover: #be80ba;
    --color-bubble-selected: #fcd0f8;
    --color-purple: #a25ddc;
    --color-purple-hover: #8050ab;
    --color-purple-selected: #d0aeed;
    --color-dark_purple: #784bd1;
    --color-dark_purple-hover: #6344a3;
    --color-dark_purple-selected: #bba5e8;
    --color-berry: #7e3b8a;
    --color-berry-hover: #673971;
    --color-berry-selected: #be9dc4;
    --color-dark_indigo: #401694;
    --color-dark_indigo-hover: #3c1f78;
    --color-dark_indigo-selected: #a08bc9;
    --color-indigo: #5559df;
    --color-indigo-hover: #4b4ead;
    --color-indigo-selected: #aaacef;
    --color-navy: #225091;
    --color-navy-hover: #274776;
    --color-navy-selected: #90a7c8;
    --color-bright-blue: #579bfc;
    --color-bright-blue-hover: #4c7cc1;
    --color-bright-blue-selected: #abcdfd;
    --color-dark-blue: #0086c0;
    --color-dark-blue-hover: #0f6d97;
    --color-dark-blue-selected: #80c2df;
    --color-aquamarine: #4eccc6;
    --color-aquamarine-hover: #469e9b;
    --color-aquamarine-selected: #a6e5e2;
    --color-chili-blue: #66ccff;
    --color-chili-blue-hover: #569ec3;
    --color-chili-blue-selected: #b2e5ff;
    --color-river: #68a1bd;
    --color-river-hover: #588095;
    --color-river-selected: #b3d0de;
    --color-winter: #9aadbd;
    --color-winter-hover: #7b8895;
    --color-winter-selected: #ccd6de;
    --color-explosive: #c4c4c4;
    --color-explosive-hover: #98999a;
    --color-explosive-selected: #e1e1e1;
    --color-american_gray: #808080;
    --color-american_gray-hover: #69696a;
    --color-american_gray-selected: #bfbfbf;
    --color-blackish: #333333;
    --color-blackish-hover: #222222;
    --color-blackish-selected: #999999;
    --color-brown: #7f5347;
    --color-brown-hover: #684943;
    --color-brown-selected: #bfa9a3;
    --color-orchid: #D974B0;
    --color-orchid-hover: #AE5D8D;
    --color-orchid-selected: #ECBAD7;
    --color-tan: #AD967A;
    --color-tan-hover: #8A7862;
    --color-tan-selected: #D6CABC;
    --color-sky: #A1E3F6;
    --color-sky-hover: #81B6C5;
    --color-sky-selected: #D0F1FA;
    --color-coffee: #BD816E;
    --color-coffee-hover: #976758;
    --color-coffee-selected: #DEC0B7;
    --color-royal: #2B76E5;
    --color-royal-hover: #225EB7;
    --color-royal-selected: #95BBF2;
    --color-teal: #175A63;
    --color-teal-hover: #12484F;
    --color-teal-selected: #8BACB1;
    --color-lavender: #BDA8F9;
    --color-lavender-hover: #9786C7;
    --color-lavender-selected: #DED4FC;
    --color-steel: #A9BEE8;
    --color-steel-hover: #8798BA;
    --color-steel-selected: #D4DFF4;
    --color-lilac: #9D99B9;
    --color-lilac-hover: #7E7A94;
    --color-lilac-selected: #CECCDC;
    --color-pecan: #563E3E;
    --color-pecan-hover: #453232;
    --color-pecan-selected: #AB9F9F;
    --color-dark_marble: #f1f1f1;
    --color-marble: #f7f7f7;
    --color-gainsboro: #e1e1e1;
    --color-extra_light_gray: #edeef0;
    --color-glitter: #d9f0ff;
    --color-ultra_light_gray: #ebebeb;
    --color-very_light_gray: #a1a1a1;
    --color-jaco_gray: #9699a6;
    --color-storm_gray: #6b6d77;
    --color-trolley-grey: #808080;
    --color-basic_light_blue: #c7e6fa;
    --color-light_blue: #61caf7;
    --color-turquoise: #66ccff;
    --color-aqua: #00d1d1;
    --color-live_blue: #009aff;
    --color-jeans: #597bfc;
    --color-burned_eggplant: #181d37;
    --color-light-pink: #ff5ac4;
    --color-dark-pink: #ff158a;
    --color-dark_red: #bb3354;
    --color-yellow: #ffcb00;
    --color-mustered: #cab641;
    --color-orange: #fdab3d;
    --color-lime-green: #9cd326;
    --color-jade: #03c875;
    --color-green-haze: #00a359;
    --color-grass-green: #037f4c;
    --color-amethyst: #a25ddc;
    --color-dark-purple: #784bd1;
    --color-blue_links: #0086c0;
    --color-blue-links: #0086c0;
    --color-private: #f65f7c;
    --color-public: #009aff;
    --color-board_views_grey: #6e6f8f;
    --color-board_views_grey_hover: #b2b3d0;
    --color-board_views_blue: #1c1f3b;
    --color-board_views_blue_secondary: #363a52;
    --color-border_light_gray: #f5f6f8;
    --color-brand-blue: #00a9ff;
    --color-brand-charcoal: #2b2c5c;
    --color-brand-gold: #ffcc00;
    --color-brand-green: #11dd80;
    --color-brand-iris: #595ad4;
    --color-brand-light-blue: #00cff4;
    --color-brand-malachite: #00cd6f;
    --color-brand-purple: #a358d0;
    --color-brand-red: #f74875;
    --color-deadline_upcoming_indication: #5d6387;
    --color-default_group_color: #579bfc;
    --color-form_btn_hover: #0083d9;
    --color-form_purple: #575c96;
    --color-highlight: #dff0ff;
    --color-green_shadow: #00c875;
    --color-green-shadow: #00c875;
    --color-red_shadow: #e2445c;
    --color-red-shadow: #e2445c;
    --color-pulse_bg: #f0f0f0;
    --color-pulse_text_color: #333333;
    --color-placholder_gray: #d8d8d8;
    --color-placeholder_light_gray: #efefef;
    --color-excel-green: #207245;
    --color-media-blue: #2ea2e9;
    --color-pdf-red: #bb0706;
    --color-ppt-orange: #d64e2a;
    --color-word-blue: #2a5699;
    --color-zip-orange: #e4901c;
    --color-like_red: #fb275d;
    --color-scrollbar_gray: #b2b2b2;
    --color-timeline_grid_blue: #454662;
    --color-timeline_blue: #1c1f3b;
    --color-highlight_blue-rgb: 204, 229, 255;
    --color-snow_white-with-opacity: rgba(255, 255, 255, 0.4);
    --color-wolf_gray-with-opacity: rgba(195, 198, 212, 0.1);
    --color-asphalt-with-opacity: rgba(103, 104, 121, 0.1);
    --primary-on-secondary-color: #0073ea;
    --primary-hover-on-secondary-color: #0060b9;
    --primary-selected-color-rgb: 204, 229, 255;
    --primary-selected-on-secondary-color: #cce5ff;
    --primary-text-on-secondary-color: #323338;
    --text-color-on-primary-with-opacity: rgba(255, 255, 255, 0.4);
    --secondary-text-on-secondary-color: #676879;
    --placeholder-color-with-opacity: rgba(103, 104, 121, 0.1);
    --placeholder-on-secondary-color: #676879;
    --icon-on-secondary-color: #676879;
    --link-on-secondary-color: #1f76c2;
    --label-background-color: #cce5ff;
    --label-background-on-secondary-color: #cce5ff;
    --primary-background-color-rgb: 255, 255, 255;
    --primary-background-hover-on-secondary-color: #dcdfec;
    --modal-background-color: #ffffff;
    --secondary-background-color-rgb: 255, 255, 255;
    --disabled-background-on-secondary-color: #ecedf5;
    --disabled-text-on-secondary-color: rgba(50, 51, 56, var(--disabled-component-opacity));
    --ui-border-on-secondary-color: #c3c6d4;
    --layout-border-on-secondary-color: #d0d4e4;
    --dark-background-color: #f6f7fb;
    --dark-background-on-secondary-color: #f6f7fb;
    --dialog-background-color: #ffffff;
    --box-shadow-mediun: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 530px;
$break-normal: 760px;
$break-wide: 1900px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;